In [18]:
import os 
import glob
import pandas as pd
import seaborn as sb
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime
from tqdm import tqdm, trange

C:\Users\USER\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [21]:
iris=pd.read_csv("iris.csv")

In [22]:
iris

     sepal length  sepal width  petal length  petal width            tipo
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [24]:
iris.shape

(150, 5)

### Columnas dataset

In [25]:
iris.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

#### sepal Lenght: Longitud de sepalo
#### sepal Width: Angchura de sepalo 
#### petal Lenght: Longitud de petalo
#### pepal Width: Angchura de petalo

### Valores Nulo

In [26]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   tipo          150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

#### No Existen valores nulos en el dataset

## Tipos De Flores

In [27]:
tipo  = iris['tipo']

In [29]:
iris.tipo.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

### Existen 3 tipos de flor

In [32]:
grouped_iris  = iris.groupby('tipo', as_index= False)['tipo'].count()
grouped_iris

   tipo
0    50
1    50
2    50

#### Existen 50 elementos de cada tipo de flor